body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: arial, sans-serif;
}
.top {
  flex-grow: 1;
  align-self: flex-end;
}
.top button {
  cursor: pointer;
  border-width: 0;
  background-color: white;
}
.sign:hover {
  text-decoration: underline;
}
.m-sign {
  border-radius: 50%;
}
.main {
  flex-grow: 5;
  align-self: center;
  width: 100%;
}
.logo {
  display: block;
  margin: 8% auto 2% auto;
}
.input {
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  width: 40vw;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  max-width: 580px;
  min-width: 300px;
}
.lupa {
  flex-grow: 1;
  height: 52%;
  width: 2%;
  min-width: 20px;
}
.text {
  flex-grow: 8;
  border: 0px;
}
.text:focus {
  border: 0px;
}
.mikrofon {
  height: 52%;
  width: 1.5%;
  flex-grow: 1;
  cursor: pointer;
  min-width: 20px;
}
.klawiatura {
  height: 42%;
  width: 1%;
  flex-grow: 1;
  cursor: pointer;
  min-width: 20px;
}
.btns {
  text-align: center;
}
.main-button {
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  border-radius: 4px;
  color: #5f6368;
  font-size: 14px;
  margin: 11px 4px 18px;
  padding: 0 16px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
  box-sizing: border-box;
  border: 0px;
}
.main-button:hover {
  border: 1px solid gray;
}
.english-button {
  border-width: 0;
  background-color: white;
  cursor: pointer;
}
.english-button:hover {
  text-decoration: underline;
}
.eng-btn {
  text-align: center;
}
.footer {
  max-height: 130px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.64);
  background-color: #f2f2f2;
  line-height: 40px;
}
.polska {
  border-top: 1px solid #d2d2d2;
  padding-left: 2.5%;
  font-size: 15px;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
  font-size: calc(5px + 0.45vw);
}
.buttons {
  border-top: 1px solid #d2d2d2;
}
.buttons button {
  background-color: #f2f2f2;
  border: 0px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.64);
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 2%;
  font-size: calc(5px + 0.45vw);
}
.buttons button:hover {
  text-decoration: underline;
}
.right {
  align-content: flex-end;
  text-align: end;
}
